name: Logger
on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: google/dart:latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: pub get
      - name: Format
        run: dartfmt --dry-run --set-exit-if-changed lib example test
      - name: Run analyzer
        run: dartanalyzer --fatal-infos --fatal-warnings lib example test
      - name: Run tests
        run: pub run test test/l_test.dart --concurrency=6
      #- name: Run tests
      #  run: pub run test_coverage
      #- name: Check Code Coverage
      #  uses: ChicagoFlutter/lcov-cop@v1.0.2
      #  with:
      #    path: coverage/lcov.info
      #    min_coverage: 100
      #    exclude: "**/*.g.dart"
      #- name: Upload coverage to Codecov
      #  uses: codecov/codecov-action@v1
      #  with:
      #    token: ${{ secrets.CODECOV_TOKEN }}